<div class="mx-auto" style="width: 50%;">
  <%= form_with(model: inventory) do |form| %>
    <% if inventory.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

        <ul>
          <% inventory.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
