<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <%= form_for @recipe, url: recipe_path(@recipe), method: :patch do |f| %>
      <%= f.submit '' do %>
        <div class="form-group">
          <%= f.label :public, class: 'form-check-label' %>
          <%= f.check_box :public, class: 'form-check-input', data: { size: 'small' } %>
        </div>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>User:</strong>
    <%= recipe.user_id %>
  </p>

  <button type="button" id="generate-ingredient">Generate Ingredient</button>

  <%= render 'modal' %>

</div>
