<%= form_with(model: food_recipe) do |form| %>
  <% if food_recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(food_recipe.errors.count, "error") %> prohibited this food_recipe from being saved:</h2>

      <ul>
        <% food_recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :recipe_id, value: params[:recipe_id] %>
  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity, min: 1 %>
  </div>

  <div>
    <%= form.collection_select(:food_id, foods, :id, :name, { prompt: "Select a Food" }) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
